.logo{
  margin-left: 150px;
  margin-top: 8px;
}
header{
  background-color: #F7F8F8;
  height: 65px;
  display: flex;
}
.d-flex{
  margin-top: 15px;
  margin-left: 50px;
}
#dropdownMenuOffset{
  background-color: #fff !important;
  color: gray;
  width: 150px;
}
.header-inp{
  width: 70%;
}
#inphead{
  margin-left: 70px;
  padding-top: 15px;
}
#lgnbtn{
  margin-right: 100px;
  width: 100px;
  height: 50px;
  margin-top: 10px;
}
#slbtn{
  margin-right: 50px;
  width: 100px;
  height: 50px;
  margin-top: 10px;
}